* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .nav-item .nav-link {
    font-size: 1.1rem;
    padding: 1.1rem !important;
  }
  
  #home {
    background-image: url("../asset/image/home.bg.jpg");
    background-size: cover;
    position: relative;
    z-index: 10;
  }
  
  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(2, 2, 2, 0.3);
    z-index: -1;
  }
  

  .goal,.internship,.objectives{
      background-color: #f7f7f7;
      border-radius: .5rem;
      transition:all ease-in-out .5s ;

  }
  .goal:hover,.internship:hover,.objectives:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 5px 3px 3px #b4b0b054;
  }

  ul {
    list-style: none;
  }

  .icon{
    color: #ffc107;
    font-size: 1.5rem;
  }


  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .goal{
        padding-bottom: 2rem !important;
  
    } 
  }
  
  /*  Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .goal{
        padding-bottom: 26.7rem !important;
    
    }
    .internship{
        padding-bottom: 4rem !important;
    }
  }
  
  /*  Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .content {
      width: 50%;
    }
    .goal{
        padding-bottom: 19.25rem !important;
  
    }
    .internship{
        padding-bottom: 2.5rem !important;
    }
  
  }
  
  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .goal{
        padding-bottom: 14.5rem !important;
  
    }
    .internship{
        padding-bottom: 2.5rem !important;
    }
  }
  
  /*  XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
  }
  
  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }
  
  /*  XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
  }